<!-- <button (click)="filterUserTransactions()">Click me</button> -->
<!-- <div>{{ loggedInAccountNo }}</div> -->
<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
      <th scope="col">New Balance</th>
      <th scope="col">Old Balance</th>
      <th scope="col">Type</th>
      <th scope="col">Transfer Account</th>
    </tr>
  </thead>
  <tbody *ngFor="let transaction of alltransactions; let i = index">
    <tr *ngIf="transaction.account_no.account_no == loggedInAccountNo">
      <td>{{ i + 1 }}</td>
      <td>{{ transaction.date }}</td>
      <td>{{ transaction.amount }}</td>
      <td>{{ transaction.new_balance }}</td>
      <td>{{ transaction.pre_balance }}</td>
      <td>{{ transaction.type }}</td>
      <td *ngIf="transaction.transfer_acc_no != null">
        {{ transaction.transfer_acc_no.first_name }}
        {{ transaction.transfer_acc_no.last_name }}
      </td>
      <td *ngIf="transaction.transfer_acc_no == null"></td>
    </tr>
  </tbody>
</table> -->
<div class="navbarr">
  <button class="navBtn" routerLink="/homepage">Home</button>
</div>
<p style="margin-left: 20px; font-size: xx-large">Transactions</p>
<div *ngFor="let transaction of alltransactions; let i = index">
  <div
    class="transactionCard"
    *ngIf="transaction.account_no.account_no == loggedInAccountNo"
  >
    <div class="logoCard">
      <div>logo</div>
    </div>
    <div class="afterLogo">
      <div class="operation">
        <div
          *ngIf="
            transaction.type == 'withdraw' || transaction.type == 'deposit'
          "
          class="WD"
        >
          <p>{{ transaction.type }}</p>
        </div>
        <div
          *ngIf="
            transaction.type == 'transfer' ||
            transaction.type == 'deposit (transfer)'
          "
          class="transfer"
        >
          <div>
            <p>{{ transaction.type }}</p>
            <div style="display: flex">
              <p
                style="margin-right: 5px"
                *ngIf="transaction.type == 'transfer'"
              >
                to
              </p>
              <p
                style="margin-right: 5px"
                *ngIf="transaction.type == 'deposit (transfer)'"
              >
                from
              </p>
              {{
                transaction.transfer_acc_no.first_name +
                  " " +
                  transaction.transfer_acc_no.last_name +
                  " " +
                  transaction.transfer_acc_no.account_no
              }}
            </div>
          </div>
        </div>
      </div>
      <div class="balanceNdate">
        <p
          *ngIf="
            transaction.type == 'transfer' || transaction.type == 'withdraw'
          "
          class="transferOwithdraw"
          style="color: red"
        >
          - KWD{{ transaction.amount }}
        </p>
        <p
          *ngIf="
            transaction.type == 'deposit' ||
            transaction.type == 'deposit (transfer)'
          "
          class="transferOdeposit"
          style="color: green"
        >
          + KWD{{ transaction.amount }}
        </p>
        <!-- <p>KWD{{ transaction.new_balance }}</p> -->
        <p>{{ transaction.date }}</p>
      </div>
    </div>
  </div>
</div>
